/*==========================
        FOOTER
===========================*/

.footer{

    background:#111;
    color:#fff;
    padding:70px 8% 0;

}

.footer-container{

    display:grid;
    grid-template-columns:2fr 1fr 1.5fr;
    gap:50px;

}

.footer-logo{

    width:120px;
    margin-bottom:20px;

}

.footer-box p{

    color:#bbb;
    line-height:1.9;
    font-size:15px;

}

.footer-box h3{

    color:#fff;
    margin-bottom:25px;
    font-size:24px;

}

.footer-box ul{

    padding:0;

}

.footer-box ul li{

    list-style:none;
    margin-bottom:15px;

}

.footer-box ul li a{

    color:#bbb;
    text-decoration:none;
    transition:.3s;

}

.footer-box ul li a:hover{

    color:#e84c22;
    padding-left:8px;

}

.footer-box p{

    margin-bottom:15px;

}

.footer-bottom{

    margin-top:50px;
    border-top:1px solid rgba(255,255,255,.1);
    padding:25px 0;
    text-align:center;
    color:#aaa;
    font-size:15px;

}

/*==========================
      TABLET
===========================*/

@media(max-width:992px){

.footer-container{

grid-template-columns:1fr 1fr;

}

}

/*==========================
      MOBILE
===========================*/

@media(max-width:768px){

.footer{

padding:60px 20px 0;

}

.footer-container{

grid-template-columns:1fr;
gap:40px;
text-align:center;

}

.footer-logo{

margin:auto;
margin-bottom:20px;

}

.footer-box ul li a:hover{

padding-left:0;

}

.footer-bottom{

font-size:14px;

}

}